---
interface Props {
  menu: MenuItem[];
}

interface MenuItem {
  itemName: string;
  price: number;
  description: string;
}

const { menu } = Astro.props;
---

<div>
  {
    menu.map((item) => (
      <>
        <div class="text-lg mb-2 flex justify-between">
          <div>{item.itemName.toUpperCase()}</div>
          <div aria-label="price">{item.price}</div>
        </div>
        <p class="mb-6">{item.description}</p>
      </>
    ))
  }
</div>
