---
import Layout from "../../layouts/Layout.astro";
import DesktopLeftNav from "../../components/DesktopLeftNav.astro";
import DesktopRightNav from "../../components/DesktopRightNav.astro";
import Hero from "../../components/Hero.astro";
---

<Layout title="Resto">
  <main>
    <DesktopLeftNav />
    <DesktopRightNav />
    <Hero />
  </main>
</Layout>