---
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Footsies from "../components/Footsies.astro";
import Hero from "../components/Hero.astro";
import Menus from "../components/menu/Menus.astro";
import Layout from "../layouts/Layout.astro";
---

<style is:global>
  @font-face {
    font-family: "Mantra";
    src: url("./mantra-regular-webfont.woff2") format("woff2");
  }

  @keyframes img-fade-in-ani {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.6;
    }
  }

  .img-fade-in {
    animation: img-fade-in-ani 3s ease forwards;
  }

  @keyframes fade-in-ani {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fade-in-ani 3s ease forwards;
  }

  .font-mantra {
    font-family: "Mantra", sans-serif;
    font-style: oblique;
  }

  .writing-lr {
    writing-mode: vertical-lr;
  }

  .strike {
    position: relative;
  }

  .strike::before {
    transition: all 600ms ease-out;
    width: 100%;
    transform: scaleX(0);
    transform-origin: 0%;
    height: 1px;
    top: 50%;
    left: 0;
    content: " ";
    position: absolute;
    background: white;
  }

  .strike:hover::before {
    transform: scaleX(1);
  }

  .strike-vert {
    position: relative;
  }

  .strike-vert::before {
    transition: all 500ms linear;
    height: 100%;
    transform: scaleY(0);
    transform-origin: 0 0;
    width: 1px;
    left: 50%;
    top: 0;
    content: " ";
    position: absolute;
  }

  .strike-vert:hover::before {
    transform: scaleY(1);
  }
</style>
<Layout title="Resto">
  <main>
    <nav
      class="z-10 fade-in text-[#AE4E1E] hidden fixed md:flex flex-col items-center gap-20 p-6"
    >
      <div class="flex-0 text-lg font-mantra">RESTO</div>
      <div class="font-medium flex flex-1 flex-row gap-4 writing-lr text-sm">
        <a href="#about-resto" class="px-2 strike-vert before:bg-[#AE4E1E]"
          >ABOUT</a
        >
        <a href="#menus" class="px-2 strike-vert before:bg-[#AE4E1E]">MENUS</a>
        <a href="#contact" class="px-2 strike-vert before:bg-[#AE4E1E]"
          >CONTACT</a
        >
      </div>
    </nav>
    <nav
      class="sticky top-0 z-10 bg-[#DED4C8] text-[#AE4E1E] md:hidden flex justify-between p-4"
    >
      <div>NAVMENU</div>
      <div class="text-lg font-mantra">RESTO</div>
      <div>LANG</div>
    </nav>
    <nav
      class="z-10 font-medium text-sm bg-[#61614F] items-center justify-end text-white h-[100%] right-0 fixed hidden md:flex flex-1 flex-row gap-4 writing-lr p-6"
    >
      <a href="#" class="fade-in px-2 strike-vert before:bg-white">INSTAGRAM</a>
      <a href="#" class="fade-in px-2 strike-vert before:bg-white">FACEBOOK</a>
      <a href="#" class="fade-in px-2 strike-vert before:bg-white">LANG</a>
    </nav>
    <Hero />
    <About />
    <Menus />
    <Contact />
    <Footsies />
  </main>
</Layout>
