---
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import DesktopLeftNav from "../components/DesktopLeftNav.astro";
import DesktopRightNav from "../components/DesktopRightNav.astro";
import Footsies from "../components/Footsies.astro";
import Hall from "../components/Hall.astro";
import Hero from "../components/Hero.astro";
import MobileNav from "../components/MobileNav.astro";
import Menus from "../components/menu/Menus";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resto">
  <main>
    <DesktopLeftNav />
    <MobileNav />
    <DesktopRightNav />
    <Hero />
    <About />
    <Hall />
    <Menus client:load />
    <Contact />
    <Footsies />
  </main>
</Layout>

<script>
  const elementToChange = document.getElementById("desktop-nav");
  const targetElement = document.getElementById("hero");

  if (elementToChange && targetElement) {
    const options = {
      root: null,
      rootMargin: "0px",
      threshold: 0.45, // Change this value as needed
    };

    // Change the desktop left nav color based on intersection
    const intersectionObserver = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          elementToChange.style.color = "#974319";
          const anks = elementToChange.querySelectorAll("a");
          // Loop through all anchor tags and set the ::before pseudo-element style
          anks.forEach((ank) => {
            ank.classList.remove("strike-white");
          });
        } else {
          // Change the color of the element to change
          elementToChange.style.color = "white";
          const anks = elementToChange.querySelectorAll("a");
          // Loop through all anchor tags and set the ::before pseudo-element style
          anks.forEach((ank) => {
            ank.classList.add("strike-white");
          });
        }
      });
    }, options);

    intersectionObserver.observe(targetElement);
  }
</script>
