---
import Layout from "../layouts/Layout.astro";
---

<style>
  @font-face {
    font-family: "Mantra";
    src: url("./mantra-regular-webfont.woff2") format("woff2");
  }
  .writing-lr {
    writing-mode: vertical-lr;
  }

  .font-mantra {
    font-family: "Mantra", sans-serif;
    font-style: oblique;
  }

  .strike {
    position: relative;
  }

  .strike::before {
    transition: all 500ms linear;
    width: 100%;
    transform: scaleX(0);
    transform-origin: 0%;
    height: 1px;
    top: 50%;
    left: 0;
    content: " ";
    position: absolute;
    background: black;
  }

  .strike:hover::before {
    transform: scaleX(1);
  }

  .strike-vert {
    position: relative;
  }

  .strike-vert::before {
    transition: all 500ms linear;
    height: 100%;
    transform: scaleY(0);
    transform-origin: 0 0;
    width: 1px;
    left: 50%;
    top: 0;
    content: " ";
    position: absolute;
  }

  .strike-vert:hover::before {
    transform: scaleY(1);
  }

  @keyframes img-fade-in-ani {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 0.6;
    }
  }
  .img-fade-in {
    animation: img-fade-in-ani 1.6s ease-in forwards;
  }

  @keyframes fade-in-ani {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fade-in-ani 1.6s ease-in;
  }

  @keyframes slide-from-left-ani {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes slide-from-right-ani {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes slide-from-top-ani {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .slide-from-left {
    animation: slide-from-left-ani 1s ease-out forwards;
    opacity: 0;
    transform: translateX(-60%);
  }

  .slide-from-right {
    animation: slide-from-right-ani 1s ease-out forwards;
    opacity: 0;
    transform: translateX(60%);
  }

  .slide-from-right-delay {
    animation: slide-from-right-ani 1s ease-out forwards;
    opacity: 0;
    transform: translateX(60%);
    animation-delay: 400ms;
  }

  .slide-from-top {
    animation: slide-from-top-ani 1s ease-in-out forwards;
    opacity: 0;
    transform: translateY(-60%);
    animation-delay: 400ms;
  }
</style>

<Layout title="Resto">
  <main class="">
    <nav
      class="z-10 fade-in text-[#AE4E1E] hidden fixed md:flex flex-col items-center gap-20 p-6"
    > 
      <div class="flex-0 text-lg font-mantra">RESTO</div>
      <div class="font-medium flex flex-1 flex-row gap-4 writing-lr text-sm">
        <a href="#about-resto" class="p-1 strike-vert before:bg-[#AE4E1E]"
          >ABOUT</a
        >
        <a href="#" class="p-1 strike-vert before:bg-[#AE4E1E]">MENUS</a>
        <a href="#" class="p-1 strike-vert before:bg-[#AE4E1E]">EVENTS</a>
        <a href="#" class="p-1 strike-vert before:bg-[#AE4E1E]">CONTACT</a>
      </div>
    </nav>
    <nav class="bg-[#DED4C8] md:hidden flex justify-between p-4">
      <div>NAVMENU</div>
      <div class="text-lg font-mantra">RESTO</div>
      <div>LANG</div>
    </nav>
    <nav
      class="font-medium text-sm bg-[#61614F] items-center justify-end text-white h-[100%] right-0 fixed hidden md:flex flex-1 flex-row gap-4 writing-lr p-6"
    >
      <a href="#" class="fade-in p-1 strike-vert before:bg-white">INSTAGRAM</a>
      <a href="#" class="fade-in p-1 strike-vert before:bg-white">FACEBOOK</a>
      <a href="#" class="fade-in p-1 strike-vert before:bg-white">LANG</a>
    </nav>

    <section class=" bg-[#DED4C8] text-[#AE4E1E] px-4 md:px-[10rem] pt-8 pb-24">
      <img
        class="z-0 img-fade-in absolute top-[0%] right-[13%] rounded-sm"
        width="400"
        src="./amy-vosters--Yxl9vDlnLM-unsplash.jpg"
        alt="wine"
      />
      <img
        class="z-0 img-fade-in absolute top-[65%] right-[13%] rounded-sm"
        width="250"
        src="./pancake-0.jpeg"
        alt="pancakes 0"
      />
      <img
      class="z-0 img-fade-in absolute top-[85%] right-[13%] rounded-sm"
      width="250"
      src="./pancake-1.jpeg"
      alt="pancakes 1"
    />
      <img
        class="z-0 img-fade-in absolute top-[70%] left-[30%] rounded-sm"
        width="400"
        src="./avo-0.jpeg"
        alt="avocado toast"
      />

      <img
      class="z-0 img-fade-in absolute top-[60%] left-[0%] rounded-sm"
      width="190"
      src="./hall-0.jpeg"
      alt="image 0 of inside of restauarant"
    />

      <div class="z-10 flex flex-col text-center md:text-left gap-6 ">
        <div class="flex flex-col hover:text-gray-600 slide-from-left w-full">
          <div class="font-mantra text-7xl md:text-8xl">Brunch</div>
          <span class="hidden md:block text-xs">from 10am to 4pm</span>
        </div>
        <div class="z-10 flex flex-row gap-2 hover:text-gray-600 w-full">
          <div class="md:w-16"></div>
          <div class="font-mantra text-7xl md:text-8xl slide-from-right">
            Coffee
          </div>
          <span
            class="hidden md:block text-xs slide-from-right-delay whitespace-nowrap"
            >for here or to go</span
          >
        </div>
        <div class="z-10 relative hover:text-gray-600 w-full">
          <span
            class="hidden md:block absolute writing-lr rotate-180 text-xs whitespace-nowrap bottom-8 left-[2.35rem] slide-from-top"
            >business or boozy</span
          >
          <div class="font-mantra text-7xl md:text-8xl slide-from-right">
            Lunch
          </div>
        </div>
        <div
          class="z-10 flex flex-row items-center gap-2 hover:text-gray-600 slide-from-left mx-auto md:mx-0 w-full"
        >
          <span class="hidden md:block writing-lr rotate-180 text-xs"
            >many by the glass</span
          >
          <div class="font-mantra text-7xl md:text-8xl">Natural wines</div>
        </div>
        <div class="z-10 flex flex-row gap-2 hover:text-gray-600 w-full">
          <div class="font-mantra text-7xl md:text-8xl slide-from-right">
            Snacks
          </div>
          <span class="hidden md:block text-xs slide-from-top whitespace-nowrap"
            >all day long</span
          >
        </div>
      </div>
    </section>
    <section id="about-resto" class="bg-[#AE4E1E] text-white px-4 md:px-[10rem] py-8">
      <h2 class="font-mantra text-5xl md:text-6xl mb-6">
        Who is Resto?
      </h2>
      <div class="text-lg mb-6">
        Located in the heart of Old Montreal, Resto is the perfect place to
        enjoy a delicious breakfast or lunch, to take away coffee & pastries or
        delight in a long boozy brunch. The cellar offers an ambitious natural
        wine selection while complimenting a refined yet comforting menu.
      </div>

      <h2 class="font-mantra text-5xl md:text-6xl mb-6">About the Owner</h2>
      <div class="text-lg mb-6">
        Resto Owner, a dedicated food enthusiast, followed a traditional path to
        the professional kitchen. They studied culinary arts and gained experience
        at renowned restaurants such as Le Petit Gourmet and Chez L'Artiste. In
        2017, they fulfilled their dream of opening Resto, a cozy
        restaurant in the heart of Old Montreal known for its exquisite dishes and
        warm ambiance.
      </div>

      <h2 class="font-mantra text-5xl md:text-6xl mb-6">See our Menus</h2>
    </section>
    <section class="bg-[#895621] text-white px-4 md:px-[10rem] py-8">
      <h2 class="font-mantra text-5xl md:text-6xl mb-6">Menus</h2>
    </section>
    <section class="bg-[#61614F] text-white px-4 md:px-[10rem] py-8">
      <h2 class="font-mantra text-5xl md:text-6xl mb-6">Contact Us</h2>

    </section>
    <section class="bg-[#AE4E1E] px-4 md:px-[10rem] py-8 text-white">
      <h2 class="font-mantra text-5xl md:text-6xl mb-6">Footsies</h2>
    </section>
  </main>
</Layout>
