<style>
  .inherit {
    position: inherit;
  }
</style>
<section
  id="about-resto"
  class="flex justify-center relative bg-[#AE4E1E] text-white px-3 md:px-[10rem] py-20"
>
  <img
    width="300"
    class="hidden md:block left-0 top-[30%] img-fade-in absolute rounded-sm"
    src="./hall-1.jpeg"
    alt="hall picture 1"
  />
  <img
    width="300"
    class="hidden md:block right-0 md:right-24 top-[30%] img-fade-in absolute rounded-sm"
    src="./pasta-0.jpeg"
    alt="pasta picture"
  />
  <div class="inherit max-w-md lg:max-w-5xl">
    <h2 class="font-mantra text-5xl md:text-6xl mb-6 pb-8">Who is Resto?</h2>
    <div class="text-lg mb-6">
      Located in the heart of Old Montreal, Resto is the perfect place to enjoy
      a delicious breakfast or lunch, to take away coffee & pastries or delight
      in a long boozy brunch. The cellar offers an ambitious natural wine
      selection while complimenting a refined yet comforting menu.
    </div>

    <h2 class="font-mantra text-5xl md:text-6xl mb-6 pb-8">About the Owner</h2>
    <div class="text-lg mb-6">
      Resto Owner, a dedicated food enthusiast, followed a traditional path to
      the professional kitchen. They studied culinary arts and gained experience
      at renowned restaurants such as Le Petit Gourmet and Chez L'Artiste. In
      2017, they fulfilled their dream of opening Resto, a cozy restaurant in
      the heart of Old Montreal known for its exquisite dishes and warm
      ambiance.
    </div>
  </div>
</section>
