<section id="contact" class="bg-[#61614F] text-white px-4 md:px-[10rem] py-8">
  <h2 class="font-mantra text-5xl md:text-6xl mb-6">Contact Us</h2>
  <img
    class="z-0 img-fade-in rounded-sm"
    width="200"
    src="./content-pixie-y6zQ3pP9dss-unsplash.jpg"
    alt="avo-toast picture"
  />
  <img
    class="z-0 img-fade-in rounded-sm"
    width="200"
    src="yalamber-limbu-UyJee3dGNn0-unsplash.jpg"
    alt="chicken sandwich picture"
  />
</section>
