<section id="contact" class="relative z-20 bg-[#61614F] text-white px-10 py-8">
    <div class="flex flex-col items-center">
      <h2 class="font-mantra text-5xl md:text-6xl mb-6">Contact Us</h2>
      <p>info@dandymtl.com</p>
      <p>123-456-7890</p>
      <p>No reservations</p>
      <p class="my-2 w-8 border-[1.08px] border-b border-b-white"></p>
      <p>123 resto street</p>
      <p></p>
    </div>
    <div class="flex justify-around">
      <img
      class="col-span-2 z-0 img-fade-in rounded-sm"
      width="200"
      src="./content-pixie-y6zQ3pP9dss-unsplash.jpg"
      alt="avo-toast picture"
    />
  
    
      <img
        class="col-span-2 z-0 img-fade-in rounded-sm"
        width="200"
        src="yalamber-limbu-UyJee3dGNn0-unsplash.jpg"
        alt="chicken sandwich picture"
      />
    </div>


</section>
