<nav
  class="z-10 font-medium text-sm bg-[#61614F] items-center justify-end text-white h-[100%] right-0 fixed hidden md:flex flex-1 flex-row gap-4 writing-lr p-6"
>
  <a href="#" class="fade-in px-2 strike-vert before:bg-white">INSTAGRAM</a>
  <a href="#" class="fade-in px-2 strike-vert before:bg-white">FACEBOOK</a>
</nav>
