<section class="relative z-20 bg-[#AE4E1E] px-8 py-8 text-white">
  <footer class="hidden md:block">
    <div class="flex items-center gap-2 mb-6">
      <h2 class="font-mantra text-5xl md:text-6xl p-2">Resto</h2>
      <div class="w-full border-[1.08px] border-b border-b-white mt-[0.6rem]">
      </div>
    </div>
    <div class="flex justify-between flex-col md:flex-row">
      <div>
        <h3 class="font-mantra text-xl md:text-3xl mb-4">Info</h3>
        <a class="inline-flex strike mb-1 py-2" href="#menus">Menu</a>
        <br />
        <a class="py-2 inline-flex strike" href="#about-resto">About</a>
      </div>
      <div>
        <h3 class="font-mantra text-xl md:text-3xl mb-4">Contact</h3>
        <a href="#" class="inline-flex strike mb-1 py-2">info@resto.com</a>
        <br />
        <p class="mb-1 py-2">123-456-7890</p>
        <p class="mb-1 py-2">123 Rue Resto, Montréal, QC</p>
        <a href="#" class="inline-flex strike mb-1 py-2">Instagram</a>
        <br />
        <a href="#" class="inline-flex strike py-2">Facebook</a>
      </div>
      <div>
        <h3 class="font-mantra text-xl md:text-3xl mb-4">Hours</h3>
        <p class="mb-1 py-2">Every day (except Tuesday)</p>
        <p class="py-2">10am to 4pm</p>
      </div>
    </div>
  </footer>

  <footer class="visible md:hidden">
    <div class="flex flex-col items-center gap-2">
      <h2 class="font-mantra text-5xl md:text-6xl p-2 mb-6">Resto</h2>
      <a class="inline-flex strike" href="#about-resto">About</a>
      <a class="inline-flex strike py-2" href="#menus">Menu</a>
      <a class="inline-flex strike py-2" href="#contact">Contact</a>
      <div class="my-2 w-8 border-[1.08px] border-b border-b-white"></div>
      <p class="py-2">123-456-7890</p>
      <p>123 Rue Resto, Montréal, QC</p>
      <a href="#" class="inline-flex strike py-2">Instagram</a>
      <a href="#" class="inline-flex strike py-2">Facebook</a>
      <div class="my-2 w-8 border-[1.08px] border-b border-b-white"></div>
      <p class="py-2">Open every day (except Tuesday)</p>
      <p>10am to 4pm</p>
    </div>
  </footer>
</section>
