<section class="bg-[#AE4E1E] px-2 md:px-[10rem] py-8 text-white">
  <div class="flex items-center gap-2 mb-6">
    <h2 class="font-mantra text-5xl md:text-6xl p-2">Resto</h2>
    <div class="w-full border-b border-b-white"></div>
  </div>
  <div class="flex justify-between">
    <h3 class="font-mantra text-xl md:text-3xl p-2">Info</h3>
    <h3 class="font-mantra text-xl md:text-3xl p-2">Contact</h3>
    <h3 class="font-mantra text-xl md:text-3xl p-2">Hours</h3>
  </div>
</section>
