<nav
  class="sticky top-0 z-30 bg-[#DED4C8] text-[#AE4E1E] md:hidden flex justify-between p-4"
>
  <button id="menu-button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 16 16"
      ><path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M2.75 12.25h10.5m-10.5-4h10.5m-10.5-4h10.5"></path></svg
    >
  </button>
  <div class="text-lg font-mantra">RESTO</div>
  <div>LANG</div>
</nav>
<nav
  id="mobile-nav-view"
  class="top-0 w-[100%] h-[100vh] fixed z-40 bg-[#AE4E1E] hidden"
>
  ayo?
</nav>

<script>
  const menuButton: HTMLElement | null = document.getElementById("menu-button");
  const mobileNavView: HTMLElement | null = document.getElementById("mobile-nav-view");

  if (menuButton && mobileNavView) {
    menuButton.addEventListener("click", function () {
      mobileNavView.style.display = "flex";
    });
  }
</script>
