---
interface Props {
  title: string;
}

const { title } = Astro.props;
---
<style is:global>
@font-face {
    font-family: "Mantra";
    src: url("/mantra-regular-webfont.woff2") format("woff2");
  }
</style>
<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[#AE4E1E]">
    <slot />
  </body>
</html>
