---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "../styles/main.css";
---

<html lang="en" class="scroll-smooth 2">
  <head>
    <style is:global>
      @font-face {
        font-family: "Mantra";
        src: url("/fonts/mantra-regular-webfont.woff2") format("woff2");
        font-display: swap;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:title" content="Resto </3" />
    <meta
      property="og:description"
      content="Located in the heart of Old Montreal, Resto is the perfect place to enjoy a delicious breakfast or lunch, to take away coffee & pastries or delight in a long boozy brunch. The cellar offers an ambitious natural wine selection while complimenting a refined yet comforting menu."
    />
    <meta property="og:image" content="/hall-2.jpeg" />
    <link
      rel="preload"
      href="/fonts/mantra-regular-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>
  <body class="bg-[#974319]">
    <slot />

    <script>
      //// Intersection API for left desktop nav
      const elementToChange = document.getElementById("desktop-nav");
      const targetElement = document.getElementById("hero");

      if (elementToChange && targetElement) {
        const options = {
          root: null,
          rootMargin: "0px",
          threshold: 0.45, // Change this value as needed
        };

        // Change the desktop left nav color based on intersection
        const leftNavObserver = new IntersectionObserver((entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              elementToChange.style.color = "#974319";
              const anks = elementToChange.querySelectorAll("a");
              // Loop through all anchor tags and set the ::before pseudo-element style
              anks.forEach((ank) => {
                ank.classList.remove("strike-white");
              });
            } else {
              // Change the color of the element to change
              elementToChange.style.color = "white";
              const anks = elementToChange.querySelectorAll("a");
              // Loop through all anchor tags and set the ::before pseudo-element style
              anks.forEach((ank) => {
                ank.classList.add("strike-white");
              });
            }
          });
        }, options);

        leftNavObserver.observe(targetElement);
      }

      //// Parallax images
      document.addEventListener("DOMContentLoaded", function () {
        // Target the elements with the class .parallax-image
        const parallaxImages =
          document.querySelectorAll<HTMLElement>(".parallax-image");

        // Get the viewport height
        const viewportHeight = window.innerHeight;

        // Calculate and set the initial scroll offset for each image
        parallaxImages.forEach((image) => {
          const elementTop = image.getBoundingClientRect().top;
          const scrollOffset = Math.max(elementTop - viewportHeight, 0);
          image.dataset.scrollOffset = scrollOffset.toString();
        });
      });

      // Set up the Intersection Observer
      const parallaxObserver = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          const target = entry.target as HTMLElement;
          if (entry.isIntersecting) {
            target.classList.add("visible");
          } else {
            target.classList.remove("visible");
          }
        });
      });

      // Target the elements with the class .parallax-image
      const parallaxImages = document.querySelectorAll(".parallax-image");
      parallaxImages.forEach((image) => {
        parallaxObserver.observe(image);
      });

      document.addEventListener("scroll", function () {
        // Get current scroll value
        const scrollValue =
          document.documentElement.scrollTop || document.body.scrollTop;

        // Select all elements with the class .parallax-image-visible
        const parallaxImagesVisible = document.querySelectorAll<HTMLElement>(
          ".parallax-image.visible"
        );

        // Iterate through each element and update its style
        parallaxImagesVisible.forEach(function (element) {
          const scrollOffset = parseFloat(element.dataset.scrollOffset || "0");
          const translateY = Math.min(
            Math.max((scrollValue - scrollOffset) * 0.15, 0),
            800
          );
          element.style.transform = `translateY(${translateY}px)`;
        });
      });
    </script>
  </body>
</html>
