---
interface Props {
  title: string;
}

const { title } = Astro.props;
---
<style is:global>
@font-face {
    font-family: "Mantra";
    src: url("/fonts/mantra-regular-webfont.woff2") format("woff2");
    font-display: swap;
  }
</style>
<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:title" content="Resto" />
    <meta property="og:description" content="</3" />
    <meta property="og:image" content="/hall-2.jpeg" />
    <link rel="preload" href="/fonts/mantra-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
  </head>
  <body class="bg-[#AE4E1E]">
    <slot />
  </body>
</html>
